/*<meta />*/

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

html
{
	font-size: 9pt;
}

body
{
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.6em;
	color: #333333;
	font-size: 1rem;
}

a
{
	word-wrap: break-word;
}

a:link
{
	color: #2D8DCC;
}

a:visited
{
	color: #2D8DCC;
}

a:hover
{
	color: #BED230;
}

a:active
{
	color: #2D8DCC;
}

.breadcrumbs
{
	font-size: 0.8rem !important;
}

a.MCBreadcrumbsLink
{
	font-style: italic;
	text-decoration: underline;
}

a.MCBreadcrumbsLink:hover
{
	color: #BED230;
}

div.TopicContent
{
	padding-left: 1em;
	padding-right: 1em;
}

h1	/*This is eXtremeDB h1*/
{
	font-weight: bold;
	color: #003366;
	font-size: 1.5rem;
}

h2	/*This is eXtremeDB h2*/
{
	border-bottom: none;
	border-top: none;
	font-weight: bold;
	color: #003366;
	font-size: 1.4rem;
}

h3
{
	font-weight: bold;
	color: #003366;
	font-size: 1.2rem;
}

h4
{
	font-weight: bold;
	color: #003366;
	font-size: 1.2rem;
}

h5
{
	font-weight: bold;
	color: #003366;
	font-size: 1rem;
}

li
{
	margin-bottom: 6px;
	margin-top: 6px;
}

MadCap|breadcrumbsProxy
{
	border-bottom: none;
	font-style: italic;
	mc-breadcrumbs-count: 7;
	mc-breadcrumbs-prefix: 'ToC path: ';
	mc-toc-depth: 7;
	font-size: .7rem;
}

MadCap|conceptLink
{
	color: #404040;
	font-size: 0.8rem;
	font-weight: bold;
	mc-image: url('../Images/ListIcon.png');
	mc-label: 'SEE ALSO';
	padding-top: 1em;
	text-decoration: none;
}

MadCap|conceptLink:hover
{
	color: #BED230;
}

MadCap|xref
{
	color: #2D8DCC;
	font-weight: bold;
	mc-format: '{para}';
	text-decoration: underline;
}

MadCap|xref:hover
{
	color: #BED230;
}

ol,
ul
{
	margin-top: 0;
	margin-bottom: 0;
}

p
{
	margin-bottom: 1rem;
	margin-top: 1rem;
}

p.toptable
{
	margin-top: 0;
	margin-bottom: 0;
}

th,
td
{
	padding: 0.5em 1em;
	vertical-align: top;
	color: #333333 !important;
}

p.MyStyle
{
	margin: 0px;
}

img
{
	border: none;
	max-width: 100%;
}

p.Code
{
	background-color: #dcdcdc;
}

div.code-block
{
	background-color: #dcdcdc;
	overflow: auto;
	border-radius: 4px;
}

div.CodeSnippet
{
	white-space: pre;
	font-family: Consolas, monaco, monospace !important;
	margin: 0;
	padding-left: 4em;
	background-color: #dcdcdc;
}

div.OutputSample
{
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 1em;
	padding: 1em;
	background-color: #e4e5e6;
}

.copyright
{
	font-size: 0.9rem;
}

p.copyrightFeedback
{
	font-style: italic;
}

p.Function
{
	color: #696969;
}

p.Param
{
	color: #808080;
}

span.Param
{
	color: #777777;
}

span.Flagged_for_link
{
	color: #ff0000;
}

div.tab active .tab
{
	float: right;
}

.tabs-nav li#TocTab.tabs-nav-active
{
	display: none;
}

blockquote
{
	margin-left: 2em;
	margin-right: 2em;
}

pre,
code,
.code
{
	font-family: Consolas, Monaco, "Courier New", Courier, monospace;
	color: #000000;
}

@media only screen and (max-width: 1279px)
{
	html
	{
		font-size: 12pt;
	}

	body
	{
		line-height: 1.4em;
	}

	blockquote
	{
		margin-left: 1em;
		margin-right: 1em;
	}
}

@media only screen and (max-width: 767px)
{
	html
	{
		font-size: 14pt;
	}

	body
	{
		line-height: 1.2em;
	}

	blockquote
	{
		margin-left: 0;
		margin-right: 0;
	}
}

