/*<meta sourceDocument="C:\McObject\_eXDB_7.0\Documentation Notes\pieces\FE UG\Runtime Environment.docx" />*/

p
{
	margin-bottom: 10pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

ol
{
	margin-bottom: 10pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

ul
{
	margin-bottom: 10pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

li
{
	margin-bottom: 10pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

td
{
	margin-bottom: 10pt;
	font-family: Calibri;
	font-size: 11pt;
	vertical-align: top;
}

h2.Heading2
{
	page-break-after: avoid;
	margin-top: 18pt;
	mc-heading-level: 2;
	font-family: Tahoma;
	font-weight: bold;
	font-style: italic;
	font-size: 16pt;
}

p.BodyParagraph
{
	margin-top: 12pt;
	margin-bottom: 12pt;
	margin-left: 36pt;
	font-family: 'Times New Roman';
	font-size: 12pt;
}

span.CODECHAR
{
	font-size: 10pt;
}

span.codecharacters
{
	font-size: 10pt;
}

p.Code
{
	margin-top: 18pt;
	margin-bottom: 18pt;
	margin-left: 85pt;
	font-family: Courier;
	font-size: 8pt;
}

h3.Heading3
{
	page-break-after: avoid;
	margin-top: 20pt;
	margin-bottom: 3pt;
	mc-heading-level: 3;
	font-family: Arial;
	font-weight: bold;
	font-size: 14pt;
}

span.span_1
{
	font-style: italic;
}

span.CODECHAR_1
{
	font-size: 10pt;
	font-family: 'Courier New';
}

