# 
#  Simple In-Memory configuration
#
database_name : imdb,
database_size    :  20m,

runtime_configuration : {
        debug_library : false,
        disk_support : false,
        shared_memory : false,
        transaction_manager : mursiw
    },	
schema : "
#define uint2     unsigned<2>

declare database  locatedb;

class Employee 
{
    string name;
    uint2 dept_no;
    
    unique tree<name> Iname;
    tree<dept_no>     Idept;

};
",
db_params: {
        mem_page_size : 512
},

sql_trace : false,
sql_port : 5500,

# REST interface allows to connect to xsql by xPanel setup
# and monitoring application
rest:{
    addr:"0.0.0.0",
    port:8083
},

# Trace module and performance monitor could be also observed
# via xPanel when enabled
#trace_params:{
#  file:"xsql-trace-1.log"
#},
#perfmon:{
#  database_size:"64m"
#}
