/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: FunctionReference;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #d3d3d3;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #d3d3d3;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	max-id: 4;
}

mcTableColumnStyle
{
	span: 1;
	id: 4;
	name: Column2;
	cell-padding-left: 10px;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #d3d3d3;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #d3d3d3;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #d3d3d3;
	name: Body1;
	id: 1;
	cell-padding-right: 10px;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #d3d3d3;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-FunctionReference
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #d3d3d3;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #d3d3d3;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #d3d3d3;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d3d3d3;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-FunctionReference-Column-Column2
{
	
}

.TableStyle-FunctionReference-Head-Header1
{
	
}

.TableStyle-FunctionReference-HeadI-Column2-Header1
{
	padding-left: 10px;
}

.TableStyle-FunctionReference-HeadI-Column2-Header1 p
{
	
}

.TableStyle-FunctionReference-HeadE-Column2-Header1
{
	padding-left: 10px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
}

.TableStyle-FunctionReference-HeadE-Column2-Header1 p
{
	
}

.TableStyle-FunctionReference-HeadF-Column2-Header1
{
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
}

.TableStyle-FunctionReference-HeadF-Column2-Header1 p
{
	
}

.TableStyle-FunctionReference-HeadH-Column2-Header1
{
	padding-left: 10px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-FunctionReference-HeadH-Column2-Header1 p
{
	
}

.TableStyle-FunctionReference-HeadD-Column2-Header1
{
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
}

.TableStyle-FunctionReference-HeadD-Column2-Header1 p
{
	
}

.TableStyle-FunctionReference-HeadC-Column2-Header1
{
	padding-left: 10px;
}

.TableStyle-FunctionReference-HeadC-Column2-Header1 p
{
	
}

.TableStyle-FunctionReference-HeadB-Column2-Header1
{
	padding-left: 10px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-FunctionReference-HeadB-Column2-Header1 p
{
	
}

.TableStyle-FunctionReference-HeadA-Column2-Header1
{
	padding-left: 10px;
}

.TableStyle-FunctionReference-HeadA-Column2-Header1 p
{
	
}

.TableStyle-FunctionReference-HeadG-Column2-Header1
{
	padding-left: 10px;
}

.TableStyle-FunctionReference-HeadG-Column2-Header1 p
{
	
}

.TableStyle-FunctionReference-Foot-Footer1
{
	
}

.TableStyle-FunctionReference-FootI-Column2-Footer1
{
	padding-left: 10px;
}

.TableStyle-FunctionReference-FootI-Column2-Footer1 p
{
	
}

.TableStyle-FunctionReference-FootE-Column2-Footer1
{
	padding-left: 10px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #d3d3d3;
	border-top-style: solid;
}

.TableStyle-FunctionReference-FootE-Column2-Footer1 p
{
	
}

.TableStyle-FunctionReference-FootF-Column2-Footer1
{
	padding-left: 10px;
	border-top-width: 1px;
	border-top-color: #d3d3d3;
	border-top-style: solid;
}

.TableStyle-FunctionReference-FootF-Column2-Footer1 p
{
	
}

.TableStyle-FunctionReference-FootH-Column2-Footer1
{
	padding-left: 10px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-FunctionReference-FootH-Column2-Footer1 p
{
	
}

.TableStyle-FunctionReference-FootD-Column2-Footer1
{
	padding-left: 10px;
	border-top-width: 1px;
	border-top-color: #d3d3d3;
	border-top-style: solid;
}

.TableStyle-FunctionReference-FootD-Column2-Footer1 p
{
	
}

.TableStyle-FunctionReference-FootC-Column2-Footer1
{
	padding-left: 10px;
}

.TableStyle-FunctionReference-FootC-Column2-Footer1 p
{
	
}

.TableStyle-FunctionReference-FootB-Column2-Footer1
{
	padding-left: 10px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-FunctionReference-FootB-Column2-Footer1 p
{
	
}

.TableStyle-FunctionReference-FootA-Column2-Footer1
{
	padding-left: 10px;
}

.TableStyle-FunctionReference-FootA-Column2-Footer1 p
{
	
}

.TableStyle-FunctionReference-FootG-Column2-Footer1
{
	padding-left: 10px;
}

.TableStyle-FunctionReference-FootG-Column2-Footer1 p
{
	
}

.TableStyle-FunctionReference-Body-Body1
{
	
}

.TableStyle-FunctionReference-BodyI-Column2-Body1
{
	padding-right: 10px;
	padding-left: 10px;
}

.TableStyle-FunctionReference-BodyI-Column2-Body1 p
{
	
}

.TableStyle-FunctionReference-BodyE-Column2-Body1
{
	padding-right: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
	padding-left: 10px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-FunctionReference-BodyE-Column2-Body1 p
{
	
}

.TableStyle-FunctionReference-BodyF-Column2-Body1
{
	padding-right: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
	padding-left: 10px;
}

.TableStyle-FunctionReference-BodyF-Column2-Body1 p
{
	
}

.TableStyle-FunctionReference-BodyH-Column2-Body1
{
	padding-right: 10px;
	padding-left: 10px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-FunctionReference-BodyH-Column2-Body1 p
{
	
}

.TableStyle-FunctionReference-BodyD-Column2-Body1
{
	padding-right: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
	padding-left: 10px;
}

.TableStyle-FunctionReference-BodyD-Column2-Body1 p
{
	
}

.TableStyle-FunctionReference-BodyC-Column2-Body1
{
	padding-right: 10px;
	padding-left: 10px;
}

.TableStyle-FunctionReference-BodyC-Column2-Body1 p
{
	
}

.TableStyle-FunctionReference-BodyB-Column2-Body1
{
	padding-right: 10px;
	padding-left: 10px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-FunctionReference-BodyB-Column2-Body1 p
{
	
}

.TableStyle-FunctionReference-BodyA-Column2-Body1
{
	padding-right: 10px;
	padding-left: 10px;
}

.TableStyle-FunctionReference-BodyA-Column2-Body1 p
{
	
}

.TableStyle-FunctionReference-BodyG-Column2-Body1
{
	padding-right: 10px;
	padding-left: 10px;
}

.TableStyle-FunctionReference-BodyG-Column2-Body1 p
{
	
}


