/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: LibraryReference;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #d3d3d3;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #d3d3d3;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	max-id: 4;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #d3d3d3;
	name: Column1;
	id: 0;
	font-family: Arial;
	color: #000000;
	font-size: 11pt;
	font-weight: bold;
}

mcTableColumnStyle
{
	span: 1;
	id: 4;
	name: Column2;
	cell-padding-left: 10px;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #d3d3d3;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #d3d3d3;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #d3d3d3;
	name: Body1;
	id: 1;
	cell-padding-right: 10px;
	cell-content-style-tag: p;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #d3d3d3;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-LibraryReference
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #d3d3d3;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #d3d3d3;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #d3d3d3;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d3d3d3;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-LibraryReference-Column-Column1
{
	
}

.TableStyle-LibraryReference-Column-Column2
{
	
}

.TableStyle-LibraryReference-Head-Header1
{
	
}

.TableStyle-LibraryReference-HeadI-Column1-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-LibraryReference-HeadI-Column1-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-LibraryReference-HeadE-Column1-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
}

.TableStyle-LibraryReference-HeadE-Column1-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-LibraryReference-HeadF-Column1-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
}

.TableStyle-LibraryReference-HeadF-Column1-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-LibraryReference-HeadH-Column1-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-LibraryReference-HeadH-Column1-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-LibraryReference-HeadD-Column1-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
}

.TableStyle-LibraryReference-HeadD-Column1-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-LibraryReference-HeadC-Column1-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-LibraryReference-HeadC-Column1-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-LibraryReference-HeadB-Column1-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-LibraryReference-HeadB-Column1-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-LibraryReference-HeadA-Column1-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-LibraryReference-HeadA-Column1-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-LibraryReference-HeadG-Column1-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-LibraryReference-HeadG-Column1-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-LibraryReference-HeadI-Column2-Header1
{
	padding-left: 10px;
}

.TableStyle-LibraryReference-HeadI-Column2-Header1 p
{
	
}

.TableStyle-LibraryReference-HeadE-Column2-Header1
{
	padding-left: 10px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
}

.TableStyle-LibraryReference-HeadE-Column2-Header1 p
{
	
}

.TableStyle-LibraryReference-HeadF-Column2-Header1
{
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
}

.TableStyle-LibraryReference-HeadF-Column2-Header1 p
{
	
}

.TableStyle-LibraryReference-HeadH-Column2-Header1
{
	padding-left: 10px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-LibraryReference-HeadH-Column2-Header1 p
{
	
}

.TableStyle-LibraryReference-HeadD-Column2-Header1
{
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
}

.TableStyle-LibraryReference-HeadD-Column2-Header1 p
{
	
}

.TableStyle-LibraryReference-HeadC-Column2-Header1
{
	padding-left: 10px;
}

.TableStyle-LibraryReference-HeadC-Column2-Header1 p
{
	
}

.TableStyle-LibraryReference-HeadB-Column2-Header1
{
	padding-left: 10px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-LibraryReference-HeadB-Column2-Header1 p
{
	
}

.TableStyle-LibraryReference-HeadA-Column2-Header1
{
	padding-left: 10px;
}

.TableStyle-LibraryReference-HeadA-Column2-Header1 p
{
	
}

.TableStyle-LibraryReference-HeadG-Column2-Header1
{
	padding-left: 10px;
}

.TableStyle-LibraryReference-HeadG-Column2-Header1 p
{
	
}

.TableStyle-LibraryReference-Foot-Footer1
{
	
}

.TableStyle-LibraryReference-FootI-Column1-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-LibraryReference-FootI-Column1-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-LibraryReference-FootE-Column1-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #d3d3d3;
	border-top-style: solid;
}

.TableStyle-LibraryReference-FootE-Column1-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-LibraryReference-FootF-Column1-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	border-top-width: 1px;
	border-top-color: #d3d3d3;
	border-top-style: solid;
}

.TableStyle-LibraryReference-FootF-Column1-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-LibraryReference-FootH-Column1-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-LibraryReference-FootH-Column1-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-LibraryReference-FootD-Column1-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	border-top-width: 1px;
	border-top-color: #d3d3d3;
	border-top-style: solid;
}

.TableStyle-LibraryReference-FootD-Column1-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-LibraryReference-FootC-Column1-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-LibraryReference-FootC-Column1-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-LibraryReference-FootB-Column1-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-LibraryReference-FootB-Column1-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-LibraryReference-FootA-Column1-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-LibraryReference-FootA-Column1-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-LibraryReference-FootG-Column1-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-LibraryReference-FootG-Column1-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-LibraryReference-FootI-Column2-Footer1
{
	padding-left: 10px;
}

.TableStyle-LibraryReference-FootI-Column2-Footer1 p
{
	
}

.TableStyle-LibraryReference-FootE-Column2-Footer1
{
	padding-left: 10px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #d3d3d3;
	border-top-style: solid;
}

.TableStyle-LibraryReference-FootE-Column2-Footer1 p
{
	
}

.TableStyle-LibraryReference-FootF-Column2-Footer1
{
	padding-left: 10px;
	border-top-width: 1px;
	border-top-color: #d3d3d3;
	border-top-style: solid;
}

.TableStyle-LibraryReference-FootF-Column2-Footer1 p
{
	
}

.TableStyle-LibraryReference-FootH-Column2-Footer1
{
	padding-left: 10px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-LibraryReference-FootH-Column2-Footer1 p
{
	
}

.TableStyle-LibraryReference-FootD-Column2-Footer1
{
	padding-left: 10px;
	border-top-width: 1px;
	border-top-color: #d3d3d3;
	border-top-style: solid;
}

.TableStyle-LibraryReference-FootD-Column2-Footer1 p
{
	
}

.TableStyle-LibraryReference-FootC-Column2-Footer1
{
	padding-left: 10px;
}

.TableStyle-LibraryReference-FootC-Column2-Footer1 p
{
	
}

.TableStyle-LibraryReference-FootB-Column2-Footer1
{
	padding-left: 10px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-LibraryReference-FootB-Column2-Footer1 p
{
	
}

.TableStyle-LibraryReference-FootA-Column2-Footer1
{
	padding-left: 10px;
}

.TableStyle-LibraryReference-FootA-Column2-Footer1 p
{
	
}

.TableStyle-LibraryReference-FootG-Column2-Footer1
{
	padding-left: 10px;
}

.TableStyle-LibraryReference-FootG-Column2-Footer1 p
{
	
}

.TableStyle-LibraryReference-Body-Body1
{
	
}

.TableStyle-LibraryReference-BodyI-Column1-Body1
{
	padding-right: 10px;
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-LibraryReference-BodyI-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-LibraryReference-BodyE-Column1-Body1
{
	padding-right: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-LibraryReference-BodyE-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-LibraryReference-BodyF-Column1-Body1
{
	padding-right: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-LibraryReference-BodyF-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-LibraryReference-BodyH-Column1-Body1
{
	padding-right: 10px;
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-LibraryReference-BodyH-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-LibraryReference-BodyD-Column1-Body1
{
	padding-right: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-LibraryReference-BodyD-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-LibraryReference-BodyC-Column1-Body1
{
	padding-right: 10px;
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-LibraryReference-BodyC-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-LibraryReference-BodyB-Column1-Body1
{
	padding-right: 10px;
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-LibraryReference-BodyB-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-LibraryReference-BodyA-Column1-Body1
{
	padding-right: 10px;
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-LibraryReference-BodyA-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-LibraryReference-BodyG-Column1-Body1
{
	padding-right: 10px;
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-LibraryReference-BodyG-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-LibraryReference-BodyI-Column2-Body1
{
	padding-right: 10px;
	padding-left: 10px;
}

.TableStyle-LibraryReference-BodyI-Column2-Body1 p
{
	
}

.TableStyle-LibraryReference-BodyE-Column2-Body1
{
	padding-right: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
	padding-left: 10px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-LibraryReference-BodyE-Column2-Body1 p
{
	
}

.TableStyle-LibraryReference-BodyF-Column2-Body1
{
	padding-right: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
	padding-left: 10px;
}

.TableStyle-LibraryReference-BodyF-Column2-Body1 p
{
	
}

.TableStyle-LibraryReference-BodyH-Column2-Body1
{
	padding-right: 10px;
	padding-left: 10px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-LibraryReference-BodyH-Column2-Body1 p
{
	
}

.TableStyle-LibraryReference-BodyD-Column2-Body1
{
	padding-right: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
	padding-left: 10px;
}

.TableStyle-LibraryReference-BodyD-Column2-Body1 p
{
	
}

.TableStyle-LibraryReference-BodyC-Column2-Body1
{
	padding-right: 10px;
	padding-left: 10px;
}

.TableStyle-LibraryReference-BodyC-Column2-Body1 p
{
	
}

.TableStyle-LibraryReference-BodyB-Column2-Body1
{
	padding-right: 10px;
	padding-left: 10px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-LibraryReference-BodyB-Column2-Body1 p
{
	
}

.TableStyle-LibraryReference-BodyA-Column2-Body1
{
	padding-right: 10px;
	padding-left: 10px;
}

.TableStyle-LibraryReference-BodyA-Column2-Body1 p
{
	
}

.TableStyle-LibraryReference-BodyG-Column2-Body1
{
	padding-right: 10px;
	padding-left: 10px;
}

.TableStyle-LibraryReference-BodyG-Column2-Body1 p
{
	
}


