/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: ReturnCodes;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #d3d3d3;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #d3d3d3;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	max-id: 5;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #d3d3d3;
	name: Column1;
	id: 0;
	font-family: Arial;
	color: #808080;
	text-align: left;
	vertical-align: top;
}

mcTableColumnStyle
{
	span: 1;
	id: 4;
	name: Column2;
	cell-padding-left: 10px;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #d3d3d3;
}

mcTableColumnStyle
{
	span: 1;
	id: 5;
	name: Column3;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #d3d3d3;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #d3d3d3;
	name: Body1;
	id: 1;
	cell-padding-right: 10px;
	cell-content-style-tag: p;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #d3d3d3;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-ReturnCodes
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #d3d3d3;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #d3d3d3;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #d3d3d3;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d3d3d3;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-ReturnCodes-Column-Column1
{
	
}

.TableStyle-ReturnCodes-Column-Column2
{
	
}

.TableStyle-ReturnCodes-Column-Column3
{
	
}

.TableStyle-ReturnCodes-Head-Header1
{
	
}

.TableStyle-ReturnCodes-HeadI-Column1-Header1
{
	color: #808080;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
}

.TableStyle-ReturnCodes-HeadI-Column1-Header1 p
{
	color: #808080;
	font-family: Arial;
}

.TableStyle-ReturnCodes-HeadE-Column1-Header1
{
	color: #808080;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
}

.TableStyle-ReturnCodes-HeadE-Column1-Header1 p
{
	color: #808080;
	font-family: Arial;
}

.TableStyle-ReturnCodes-HeadF-Column1-Header1
{
	color: #808080;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
}

.TableStyle-ReturnCodes-HeadF-Column1-Header1 p
{
	color: #808080;
	font-family: Arial;
}

.TableStyle-ReturnCodes-HeadH-Column1-Header1
{
	color: #808080;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-ReturnCodes-HeadH-Column1-Header1 p
{
	color: #808080;
	font-family: Arial;
}

.TableStyle-ReturnCodes-HeadD-Column1-Header1
{
	color: #808080;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
}

.TableStyle-ReturnCodes-HeadD-Column1-Header1 p
{
	color: #808080;
	font-family: Arial;
}

.TableStyle-ReturnCodes-HeadC-Column1-Header1
{
	color: #808080;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
}

.TableStyle-ReturnCodes-HeadC-Column1-Header1 p
{
	color: #808080;
	font-family: Arial;
}

.TableStyle-ReturnCodes-HeadB-Column1-Header1
{
	color: #808080;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-ReturnCodes-HeadB-Column1-Header1 p
{
	color: #808080;
	font-family: Arial;
}

.TableStyle-ReturnCodes-HeadA-Column1-Header1
{
	color: #808080;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
}

.TableStyle-ReturnCodes-HeadA-Column1-Header1 p
{
	color: #808080;
	font-family: Arial;
}

.TableStyle-ReturnCodes-HeadG-Column1-Header1
{
	color: #808080;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
}

.TableStyle-ReturnCodes-HeadG-Column1-Header1 p
{
	color: #808080;
	font-family: Arial;
}

.TableStyle-ReturnCodes-HeadI-Column2-Header1
{
	padding-left: 10px;
}

.TableStyle-ReturnCodes-HeadI-Column2-Header1 p
{
	
}

.TableStyle-ReturnCodes-HeadE-Column2-Header1
{
	padding-left: 10px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
}

.TableStyle-ReturnCodes-HeadE-Column2-Header1 p
{
	
}

.TableStyle-ReturnCodes-HeadF-Column2-Header1
{
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
}

.TableStyle-ReturnCodes-HeadF-Column2-Header1 p
{
	
}

.TableStyle-ReturnCodes-HeadH-Column2-Header1
{
	padding-left: 10px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-ReturnCodes-HeadH-Column2-Header1 p
{
	
}

.TableStyle-ReturnCodes-HeadD-Column2-Header1
{
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
}

.TableStyle-ReturnCodes-HeadD-Column2-Header1 p
{
	
}

.TableStyle-ReturnCodes-HeadC-Column2-Header1
{
	padding-left: 10px;
}

.TableStyle-ReturnCodes-HeadC-Column2-Header1 p
{
	
}

.TableStyle-ReturnCodes-HeadB-Column2-Header1
{
	padding-left: 10px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-ReturnCodes-HeadB-Column2-Header1 p
{
	
}

.TableStyle-ReturnCodes-HeadA-Column2-Header1
{
	padding-left: 10px;
}

.TableStyle-ReturnCodes-HeadA-Column2-Header1 p
{
	
}

.TableStyle-ReturnCodes-HeadG-Column2-Header1
{
	padding-left: 10px;
}

.TableStyle-ReturnCodes-HeadG-Column2-Header1 p
{
	
}

.TableStyle-ReturnCodes-HeadI-Column3-Header1
{
	
}

.TableStyle-ReturnCodes-HeadI-Column3-Header1 p
{
	
}

.TableStyle-ReturnCodes-HeadE-Column3-Header1
{
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
}

.TableStyle-ReturnCodes-HeadE-Column3-Header1 p
{
	
}

.TableStyle-ReturnCodes-HeadF-Column3-Header1
{
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
}

.TableStyle-ReturnCodes-HeadF-Column3-Header1 p
{
	
}

.TableStyle-ReturnCodes-HeadH-Column3-Header1
{
	
}

.TableStyle-ReturnCodes-HeadH-Column3-Header1 p
{
	
}

.TableStyle-ReturnCodes-HeadD-Column3-Header1
{
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
}

.TableStyle-ReturnCodes-HeadD-Column3-Header1 p
{
	
}

.TableStyle-ReturnCodes-HeadC-Column3-Header1
{
	
}

.TableStyle-ReturnCodes-HeadC-Column3-Header1 p
{
	
}

.TableStyle-ReturnCodes-HeadB-Column3-Header1
{
	
}

.TableStyle-ReturnCodes-HeadB-Column3-Header1 p
{
	
}

.TableStyle-ReturnCodes-HeadA-Column3-Header1
{
	
}

.TableStyle-ReturnCodes-HeadA-Column3-Header1 p
{
	
}

.TableStyle-ReturnCodes-HeadG-Column3-Header1
{
	
}

.TableStyle-ReturnCodes-HeadG-Column3-Header1 p
{
	
}

.TableStyle-ReturnCodes-Foot-Footer1
{
	
}

.TableStyle-ReturnCodes-FootI-Column1-Footer1
{
	color: #808080;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
}

.TableStyle-ReturnCodes-FootI-Column1-Footer1 p
{
	color: #808080;
	font-family: Arial;
}

.TableStyle-ReturnCodes-FootE-Column1-Footer1
{
	color: #808080;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #d3d3d3;
	border-top-style: solid;
}

.TableStyle-ReturnCodes-FootE-Column1-Footer1 p
{
	color: #808080;
	font-family: Arial;
}

.TableStyle-ReturnCodes-FootF-Column1-Footer1
{
	color: #808080;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #d3d3d3;
	border-top-style: solid;
}

.TableStyle-ReturnCodes-FootF-Column1-Footer1 p
{
	color: #808080;
	font-family: Arial;
}

.TableStyle-ReturnCodes-FootH-Column1-Footer1
{
	color: #808080;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-ReturnCodes-FootH-Column1-Footer1 p
{
	color: #808080;
	font-family: Arial;
}

.TableStyle-ReturnCodes-FootD-Column1-Footer1
{
	color: #808080;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #d3d3d3;
	border-top-style: solid;
}

.TableStyle-ReturnCodes-FootD-Column1-Footer1 p
{
	color: #808080;
	font-family: Arial;
}

.TableStyle-ReturnCodes-FootC-Column1-Footer1
{
	color: #808080;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
}

.TableStyle-ReturnCodes-FootC-Column1-Footer1 p
{
	color: #808080;
	font-family: Arial;
}

.TableStyle-ReturnCodes-FootB-Column1-Footer1
{
	color: #808080;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-ReturnCodes-FootB-Column1-Footer1 p
{
	color: #808080;
	font-family: Arial;
}

.TableStyle-ReturnCodes-FootA-Column1-Footer1
{
	color: #808080;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
}

.TableStyle-ReturnCodes-FootA-Column1-Footer1 p
{
	color: #808080;
	font-family: Arial;
}

.TableStyle-ReturnCodes-FootG-Column1-Footer1
{
	color: #808080;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
}

.TableStyle-ReturnCodes-FootG-Column1-Footer1 p
{
	color: #808080;
	font-family: Arial;
}

.TableStyle-ReturnCodes-FootI-Column2-Footer1
{
	padding-left: 10px;
}

.TableStyle-ReturnCodes-FootI-Column2-Footer1 p
{
	
}

.TableStyle-ReturnCodes-FootE-Column2-Footer1
{
	padding-left: 10px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #d3d3d3;
	border-top-style: solid;
}

.TableStyle-ReturnCodes-FootE-Column2-Footer1 p
{
	
}

.TableStyle-ReturnCodes-FootF-Column2-Footer1
{
	padding-left: 10px;
	border-top-width: 1px;
	border-top-color: #d3d3d3;
	border-top-style: solid;
}

.TableStyle-ReturnCodes-FootF-Column2-Footer1 p
{
	
}

.TableStyle-ReturnCodes-FootH-Column2-Footer1
{
	padding-left: 10px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-ReturnCodes-FootH-Column2-Footer1 p
{
	
}

.TableStyle-ReturnCodes-FootD-Column2-Footer1
{
	padding-left: 10px;
	border-top-width: 1px;
	border-top-color: #d3d3d3;
	border-top-style: solid;
}

.TableStyle-ReturnCodes-FootD-Column2-Footer1 p
{
	
}

.TableStyle-ReturnCodes-FootC-Column2-Footer1
{
	padding-left: 10px;
}

.TableStyle-ReturnCodes-FootC-Column2-Footer1 p
{
	
}

.TableStyle-ReturnCodes-FootB-Column2-Footer1
{
	padding-left: 10px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-ReturnCodes-FootB-Column2-Footer1 p
{
	
}

.TableStyle-ReturnCodes-FootA-Column2-Footer1
{
	padding-left: 10px;
}

.TableStyle-ReturnCodes-FootA-Column2-Footer1 p
{
	
}

.TableStyle-ReturnCodes-FootG-Column2-Footer1
{
	padding-left: 10px;
}

.TableStyle-ReturnCodes-FootG-Column2-Footer1 p
{
	
}

.TableStyle-ReturnCodes-FootI-Column3-Footer1
{
	
}

.TableStyle-ReturnCodes-FootI-Column3-Footer1 p
{
	
}

.TableStyle-ReturnCodes-FootE-Column3-Footer1
{
	border-top-width: 1px;
	border-top-color: #d3d3d3;
	border-top-style: solid;
}

.TableStyle-ReturnCodes-FootE-Column3-Footer1 p
{
	
}

.TableStyle-ReturnCodes-FootF-Column3-Footer1
{
	border-top-width: 1px;
	border-top-color: #d3d3d3;
	border-top-style: solid;
}

.TableStyle-ReturnCodes-FootF-Column3-Footer1 p
{
	
}

.TableStyle-ReturnCodes-FootH-Column3-Footer1
{
	
}

.TableStyle-ReturnCodes-FootH-Column3-Footer1 p
{
	
}

.TableStyle-ReturnCodes-FootD-Column3-Footer1
{
	border-top-width: 1px;
	border-top-color: #d3d3d3;
	border-top-style: solid;
}

.TableStyle-ReturnCodes-FootD-Column3-Footer1 p
{
	
}

.TableStyle-ReturnCodes-FootC-Column3-Footer1
{
	
}

.TableStyle-ReturnCodes-FootC-Column3-Footer1 p
{
	
}

.TableStyle-ReturnCodes-FootB-Column3-Footer1
{
	
}

.TableStyle-ReturnCodes-FootB-Column3-Footer1 p
{
	
}

.TableStyle-ReturnCodes-FootA-Column3-Footer1
{
	
}

.TableStyle-ReturnCodes-FootA-Column3-Footer1 p
{
	
}

.TableStyle-ReturnCodes-FootG-Column3-Footer1
{
	
}

.TableStyle-ReturnCodes-FootG-Column3-Footer1 p
{
	
}

.TableStyle-ReturnCodes-Body-Body1
{
	
}

.TableStyle-ReturnCodes-BodyI-Column1-Body1
{
	padding-right: 10px;
	color: #808080;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
}

.TableStyle-ReturnCodes-BodyI-Column1-Body1 p
{
	color: #808080;
	font-family: Arial;
}

.TableStyle-ReturnCodes-BodyE-Column1-Body1
{
	padding-right: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
	color: #808080;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-ReturnCodes-BodyE-Column1-Body1 p
{
	color: #808080;
	font-family: Arial;
}

.TableStyle-ReturnCodes-BodyF-Column1-Body1
{
	padding-right: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
	color: #808080;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
}

.TableStyle-ReturnCodes-BodyF-Column1-Body1 p
{
	color: #808080;
	font-family: Arial;
}

.TableStyle-ReturnCodes-BodyH-Column1-Body1
{
	padding-right: 10px;
	color: #808080;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-ReturnCodes-BodyH-Column1-Body1 p
{
	color: #808080;
	font-family: Arial;
}

.TableStyle-ReturnCodes-BodyD-Column1-Body1
{
	padding-right: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
	color: #808080;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
}

.TableStyle-ReturnCodes-BodyD-Column1-Body1 p
{
	color: #808080;
	font-family: Arial;
}

.TableStyle-ReturnCodes-BodyC-Column1-Body1
{
	padding-right: 10px;
	color: #808080;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
}

.TableStyle-ReturnCodes-BodyC-Column1-Body1 p
{
	color: #808080;
	font-family: Arial;
}

.TableStyle-ReturnCodes-BodyB-Column1-Body1
{
	padding-right: 10px;
	color: #808080;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-ReturnCodes-BodyB-Column1-Body1 p
{
	color: #808080;
	font-family: Arial;
}

.TableStyle-ReturnCodes-BodyA-Column1-Body1
{
	padding-right: 10px;
	color: #808080;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
}

.TableStyle-ReturnCodes-BodyA-Column1-Body1 p
{
	color: #808080;
	font-family: Arial;
}

.TableStyle-ReturnCodes-BodyG-Column1-Body1
{
	padding-right: 10px;
	color: #808080;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
}

.TableStyle-ReturnCodes-BodyG-Column1-Body1 p
{
	color: #808080;
	font-family: Arial;
}

.TableStyle-ReturnCodes-BodyI-Column2-Body1
{
	padding-right: 10px;
	padding-left: 10px;
}

.TableStyle-ReturnCodes-BodyI-Column2-Body1 p
{
	
}

.TableStyle-ReturnCodes-BodyE-Column2-Body1
{
	padding-right: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
	padding-left: 10px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-ReturnCodes-BodyE-Column2-Body1 p
{
	
}

.TableStyle-ReturnCodes-BodyF-Column2-Body1
{
	padding-right: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
	padding-left: 10px;
}

.TableStyle-ReturnCodes-BodyF-Column2-Body1 p
{
	
}

.TableStyle-ReturnCodes-BodyH-Column2-Body1
{
	padding-right: 10px;
	padding-left: 10px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-ReturnCodes-BodyH-Column2-Body1 p
{
	
}

.TableStyle-ReturnCodes-BodyD-Column2-Body1
{
	padding-right: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
	padding-left: 10px;
}

.TableStyle-ReturnCodes-BodyD-Column2-Body1 p
{
	
}

.TableStyle-ReturnCodes-BodyC-Column2-Body1
{
	padding-right: 10px;
	padding-left: 10px;
}

.TableStyle-ReturnCodes-BodyC-Column2-Body1 p
{
	
}

.TableStyle-ReturnCodes-BodyB-Column2-Body1
{
	padding-right: 10px;
	padding-left: 10px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-ReturnCodes-BodyB-Column2-Body1 p
{
	
}

.TableStyle-ReturnCodes-BodyA-Column2-Body1
{
	padding-right: 10px;
	padding-left: 10px;
}

.TableStyle-ReturnCodes-BodyA-Column2-Body1 p
{
	
}

.TableStyle-ReturnCodes-BodyG-Column2-Body1
{
	padding-right: 10px;
	padding-left: 10px;
}

.TableStyle-ReturnCodes-BodyG-Column2-Body1 p
{
	
}

.TableStyle-ReturnCodes-BodyI-Column3-Body1
{
	padding-right: 10px;
}

.TableStyle-ReturnCodes-BodyI-Column3-Body1 p
{
	
}

.TableStyle-ReturnCodes-BodyE-Column3-Body1
{
	padding-right: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
}

.TableStyle-ReturnCodes-BodyE-Column3-Body1 p
{
	
}

.TableStyle-ReturnCodes-BodyF-Column3-Body1
{
	padding-right: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
}

.TableStyle-ReturnCodes-BodyF-Column3-Body1 p
{
	
}

.TableStyle-ReturnCodes-BodyH-Column3-Body1
{
	padding-right: 10px;
}

.TableStyle-ReturnCodes-BodyH-Column3-Body1 p
{
	
}

.TableStyle-ReturnCodes-BodyD-Column3-Body1
{
	padding-right: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
}

.TableStyle-ReturnCodes-BodyD-Column3-Body1 p
{
	
}

.TableStyle-ReturnCodes-BodyC-Column3-Body1
{
	padding-right: 10px;
}

.TableStyle-ReturnCodes-BodyC-Column3-Body1 p
{
	
}

.TableStyle-ReturnCodes-BodyB-Column3-Body1
{
	padding-right: 10px;
}

.TableStyle-ReturnCodes-BodyB-Column3-Body1 p
{
	
}

.TableStyle-ReturnCodes-BodyA-Column3-Body1
{
	padding-right: 10px;
}

.TableStyle-ReturnCodes-BodyA-Column3-Body1 p
{
	
}

.TableStyle-ReturnCodes-BodyG-Column3-Body1
{
	padding-right: 10px;
}

.TableStyle-ReturnCodes-BodyG-Column3-Body1 p
{
	
}


